<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 문성 -->
		<typeAlias type="dto.BlockVO" alias="bvo" />
		<typeAlias type="dto.S_mileageVO" alias="smvo" />
		<!-- 준호 -->
		<typeAlias type="dto.PushAlarmLoggerDTO" alias="pushvo" />
		<typeAlias type="dto.M_studentVO" alias="msvo" />
		<typeAlias type="dto.Student_natureVO" alias="snvo" />

		<!-- 지수 -->
		<typeAlias type="dto.StudyVO" alias="svo" />

		<!-- 다혜 -->
		<typeAlias type="dto.S1_reviewDTO" alias="s1rdto" />
		<typeAlias type="dto.Tc_listVO" alias="tcvo" />
		<typeAlias type="dto.T_mileageVO" alias="tmvo" />
		<typeAlias type="dto.S1_reviewVO" alias="s1rvo" />
		
		<typeAlias type="dto.ShopBag_Stuudy_listDTO" alias="sbsldto"/>
		<typeAlias type="dto.ShopBag_Class_listDTO" alias="scdto"/>
		<!-- 정윤 --> 
		<typeAlias type="dto.ClassVO" alias="cvo"/>
		<typeAlias type="dto.C1_reviewVO" alias="c1vo" />
		<typeAlias type="dto.SearchVO" alias="searchvo" />

		<!-- ?? -->
		<typeAlias type="dto.Sc_listVO" alias="scvo" />
		<typeAlias type="dto.Study_listVO" alias="slvo" />

		<!-- 호연 -->
		<typeAlias type="dto.M_teacherVO" alias="mtvo" />
		<typeAlias type="dto.Teacher_natureVO" alias="tnvo" />

		<typeAlias type="dto.AdminVO" alias="avo" />
		
	</typeAliases>
</configuration>